// Font
$mainFont       : 'Font', Helvetica, Arial, sans-serif;
$mainFontColor  : #101010;

// Size
$mainFontSize   : 18px;
$desktopWidth   : 1280px;
$smDesktopWidth : 980px;
$tabletWidth    : 768px;
$phoneWidth     : 480px;
$smPhoneWidth   : 320px;

// Colors
